@font-face {
    font-family: Chosence;
    src: url('fonts/Chosence_Regular.otf');
}

* {
    box-sizing: border-box;
}

/* This is what makes the background right here. */
html::before {
  content: ' ';
  display: block;
  background-image: url('images/background.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: -10; /* This is pretty important.*/
}

body {
  /* Base Variables */
  --puwp-blue: #339bff;
  --puwp-purple: #502c69;/*#2c304b;*/
  --puwp-purple-25: rgba(80, 44, 105, .25); /*rgba(44, 48, 75, .25);*/
  --dk-blue: #2c304b; /*#203141;*/
  --mid-blue: #3596fd;
  --lt-blue: #4ca5ff;
  --slate-blue: #405b87;
  --off-white: #e8e8e8;

  font-family: Chosence, sans-serif;

  /*background-image: url("https://i.imgur.com/S7mhs2R.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;*/

  margin:0;
  font-size: 22px;
  font-weight: 400;
  color: var(--dk-blue);
}

footer {
  color: var(--off-white);
  text-align: center;
  margin: 20px auto 20px auto;
}

p {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  color: var(--dk-blue);
}

.container {
  margin: 0 auto 0 auto;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.06) 3px 3px 3px;
  color: var(--dk-body);
  padding-top: 1px; /* What? Apparently if you set this to zero, the margin of internal items is ignored*/
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 13px;
}

.container p, .container ul {
  text-align: left;
  color: var(--dk-body);
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: var(--dk-blue);
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-top: 25px;
}

.container h1{
  font-size: 48pt;
}


.submit-run {
  width:350px;
  height:100px;
  line-height:100px;
  margin: 10px;
  background: var(--puwp-purple);
  border-radius: 7px;
  font-size: 48pt;
}

.submit-run-a {
  text-decoration: none;
  color: var(--off-white);
  display: inline-block;
}

.clear {
    clear: both;
}

nav {
    width: 100%;
    color: var(--off-white);
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: normal;
    background: var(--puwp-purple-25);
    height: 70px;
    line-height: 70px;
    font-size: 30pt;
}

nav ul{
  float: right;
  margin: 0;
  padding: 0;
}

nav #PUWP{
  float: left;
  margin: 0;
  padding: 0 0.5em;
  display: inline-block;
  background: var(--puwp-purple);
}

nav li {
  display: inline-block;
  margin: 0;
  /*width: 130px; !* TODO: 175px *!*/
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

table {
  font-family: 'Rubik', sans-serif;
  text-align: left;
}
nav li a {
  color: var(--off-white);
  text-decoration: none;
  display: inline-block;
  padding: 0 0.5em;
}

nav li:hover {
  background: var(--puwp-purple);
}

header {
  text-align: center;
  color: var(--off-white);
  height: 30vw;
  max-height: 350px;
  background: url('images/header.png') center center no-repeat;
  background-size:contain;
}

#stream {
    border: none;
    margin: 1em;
    width: 854px;
    height: 480px;
}

#menu {
  width: 50px;
  display: none;
}

/* smaller than logo (also right around mobile/iPad mini size) */
@media only screen and (max-width: 650px) {
    .logo {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    nav {
      height: auto;
    }

    nav li {
      display: block;
      text-align: right;
    }

    nav #PUWP, nav ul{
      float: none;
    }

    nav #PUWP {
      text-align: left;
      display: block;
    }

    nav #menu {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    nav ul {
      display: none;
    }
}

@media only screen and (max-width: 1240px) {
    .container {
        margin: 0 20px 0 20px;
    }
}

/* smaller than container (also right around iPad size) */
@media only screen and (max-width: 820px) {
    .container {
        margin: 0 20px 0 20px;
    }

    #stream {
        width: 640px;
        height: 360px;
    }
}


/* All mobile */
@media only screen and (max-width: 650px) {
    body {
        font-size: 16px;
    }

    .container h1{
      font-size: 30pt;
    }

    h1{
      margin-top: 10px;
      margin-bottom: 10px;
    }

  .submit-run {
    width:250px;
    height:70px;
    line-height:70px;
    font-size: 30px;
    margin: 10px auto 0 auto;
  }

    #stream {
        width: 426px;
        height: 240px;
        margin: 0.5em;
    }

}

@media only screen and (max-width: 414px) {
    body {
        font-size: 14px;
    }
    .container h1{
      font-size: 24pt;
    }
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
    h1{
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav {
      font-size: 20px;
      line-height: 50px;
    }
    nav li {
      /*width: 90px;*/
    }

    #stream {
        width: 256px;
        height: 144px;
        margin: 0.5em;
    }
}

/* iPhone 5 */
@media only screen and (max-width: 320px) {
    body {
      font-size: 12px;
    }
    .container h1{
      font-size: 20pt;
    }
    .container {
      padding-left: 12px;
      padding-right: 12px;
    }
}


/*@media only screen and (min-width: 650px) {
    main {
        padding: 20px 100px;
    }
}
*/
/*body {
    border-top: 10px solid linear-gradient(to right var(--red) var(--pink));
}*/

.frosted-button {
    color: var(--dk-blue);
    border: 1px solid var(--teal);
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    position: relative;
    font-weight: bold;
    background: none;
    text-decoration: none;
    padding: 5px 10px;
}

.frost {
    opacity: .5;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../images/white-noise.png");
}

.gloss {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.1));
}

.button {

    padding: 5px 10px;
    border-radius: calc(var(--size) / 2);
    background: var(--teal);
    border: 2px solid var(--dk-blue);
    color: white;
    text-align: center;
    font-size: 15px;
    /*border-radius: 5px;*/
}

input[type="text"], input[type="email"] {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 2px solid var(--teal);
}

.contact-form {
    margin-bottom: 20px;
}

.light-bar {
    background: url("../images/colors.svg") repeat-x;
}

p em {
  font-style: oblique italic;
}
